@font-face {
  font-family: italic;
  src: url('./font/Inter-Italic.woff2');
}
@font-face {
  font-family: regular;
  src: url('font/Inter-Regular.woff2');
}
/* @font-face{
  font-family: regularTwo;
  src: url('font/Inter-Regular\ \(1\).woff2');
} */
@font-face {
  font-family: bold;
  src: url('font/Inter-SemiBold.woff2');
}
@font-face{
  font-family: boldItalic;
  src: url('font/Inter-SemiBoldItalic.woff2');
}


body{
  overflow-x: hidden;
  background-color: #f1f3f6;
  margin: 0;
  font-family: Inter,-apple-system,Helvetica,Arial,sans-serif;
}
header{
  background-color: blue;
  margin: 0;
  height: 55px;
  width: 100%;
  position: fixed;
  display: flex;
  overflow-x: hidden;
  z-index: 9999;
  overflow-y: auto;
  padding-left: 268px;
  padding-top: 11px;
  padding-right: 232px;
  font-family: "regular";
}

.logo{
  display: flex;
  flex-direction: column;
  /* margin-left: 20%;
  margin-top: 11px; */
  cursor: pointer;
  margin-right: 0;
}
.logo img{
  width: 75px;
  height: 20px;
}
.logo a{
  text-decoration: none;
  font-size: 10px;
  font-style: italic;
  letter-spacing: .3px;
  color: white;
}
.logo a:hover{
  text-decoration: underline;
}
.plusLogo img{
  width: 10px;
  height: 10px;
}
.plusLogo{
  color: yellow;
  font-weight: bold;
}
.exportLogo{
  color: white;
  letter-spacing: .4px;
}
#search{
  display: block;
  background-color: white;
  width: 567px;
  height: 36px;
  /* margin-top: 10px;
  margin-left: -115px; */
  box-shadow: 1px 2px 2px rgb(44, 50, 141);
  min-width: 305px;
  border-radius: 2px;
  margin-right: 0;
  margin-left: 10px;
}
.searchInput input:active{
  background-color: white;
}
.searchInput{
  display: flex;
  background-color: white;
  margin-top: 8px;
}

.searchInput svg{
  margin-top: 3px;
  color: blue;
  font-weight: bold;
  margin-left: 64px;
  cursor: pointer;
  padding-right: 10px;
}
.searchInput input{
  margin-left: 13px;
  outline: none;
  border: none;
  width: 80%;
  letter-spacing: .4px;
  cursor: pointer;
}

#login{
  margin-left: 37px;
  margin-top: 1px;
  cursor: pointer;
}
#login button{
  width: 122px;
  height: 31px;
  background: white;
  border: none;
  color: #2784f0;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: .5px;
}
#header-links{
  display: flex;
  color: white;
  margin-left: -88px;
  margin-top:8px;
  font-weight: bold;
  letter-spacing: .3px;
  font-size: 16px;
  cursor: pointer;
}

.moreLink{
  margin-left: 40px;
}
#cartLink{
  margin-left: 40px;
}
#carLink span{
  padding-left: 8px;
  /* margin-top: 3px; */
}

#headerSearch{
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-top: 8px;
  background-color: white;
  cursor: pointer;
  padding-bottom: 15px;
  box-shadow: 1px 1px 7px rgb(116, 114, 114);
  z-index: 999;
  position: fixed;
  width: 567px;
}
#headerSearch svg{
  color: #878787;
}
.iTrend{ 
  color: #a3a2a2; 
  font-weight: 500; 
  margin-left: 16px; 
  letter-spacing: .3px;
  font-size: 11px;
  font-weight: bold;
  margin-top: 16px;
  cursor: text;
}
.iMobiles , .iShoes, .iShirt,.iLap,.iWatch{
  margin-left: 20px;
  margin-top: 15px;
}
.iMobiles svg,.iShoes svg,.iShirt svg,.iLap svg,.iWatch svg{
  margin-right: 10px;
}

#loginDrop{
  background-color: white;
  width: 240px;
  margin-top: 14px;
  margin-left: -58px;
  cursor: pointer;
  height: 366px;
  box-shadow: 1px 1px 3px rgb(165, 164, 164);
  font-size: 14px;
  line-height: 51px;
  z-index: 999;
  position: fixed;
  /* overflow-x: hidden; */
}
.moreDrop{
  display: block;
  background-color: white;
  color: #363535;
  width: 240px;
  height: 205px;
  cursor: pointer;
  margin-left: -60px;
  margin-top: 19px;
  line-height: 50px;
  z-index: 999;
  position: fixed;
  /* overflow-y: auto; */
}
.moreDrop svg{
  color: #2784f0;
  margin-left: 20px;
}
.moreDrop span{
  margin-left: 12px;
  font-size: 14px;
  font-weight: bold;
}
nav{
  display: flex;
  position: relative;
  top: 57px;
  background-color: white;
  height: 38px;
  box-shadow: 1px 1px 3px #878787;
  font-size: 13px;
  font-weight: bold;
  width: auto;
  /* z-index: -1; */
}
#headNav{
  margin-left: 15.5%;
  cursor: pointer;
  margin-top: 10px;
  min-width: max-content;
  /* position: relative; */
}


#childNav{
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: -1460px;
  margin-top: 39px;
  /* width: 350%; */
  box-shadow: 1px 1px 3px #878787;
  width: 1280px;
  /* height: 200%; */
  position: fixed;
  z-index: 999;
}
#child{
  margin-top: 16px;
  /* position: fixed; */
}
.gray{
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  width: 350%;
  padding-left: 22px;
  line-height: 25px;
}
.white{
  display: flex;
  flex-direction: column;
  width: 350%;
  padding-left: 22px;
  line-height: 28px;
}
#childNav span{
  color: #878787;
  font-weight: 400;
}

#cent{
  /* background-color: #001aff; */
  margin: auto;
  height: 100%;
}

#left{
  margin-left: 6.3%;
  position: absolute;
  z-index: 0;
  background-color: white;
  width: 270px;
  display: block;
  box-shadow: 0px 1px 6px  #dddddd;
  height: auto;
}
#left label{
  line-height: 33px;
  margin: 0;
  font-size: 13px;
}

#filter{
  margin-top: 20px;
  padding-left: 17px;
  letter-spacing: .2px;
  font-weight: bold;
  display: block;
  font-size: 17px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  cursor: pointer;
}
.mainClear{
  color: #2784f0;
  font-size: 11px;
  margin-left: 48%;
}
#filter .itemSelected{
  margin-top: 12px;
}
#category{
  display: flex;
  flex-direction: column;
  padding-left: 17px;
  padding-top: 17px;
  letter-spacing: .3px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 23px;
}
#category a{
  margin-top: 15px;
  margin-bottom: 13px;
  text-decoration: none;
  letter-spacing: .3px;
}
#price{
  margin-top: 15px;
  padding-left: 16px;
  border-bottom: 1px solid #dddddd;
}
.priceRangeLine{
  position: relative;
  height: 13px;
  cursor: pointer;
  margin-top: 3px;
}
#leftRound{
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 13px;
  height: 13px;
  top: -3.5px;
  transition: translate .5s ease-out;
  border-radius: 50%;
  border: 1px solid #bababa;
  background-color: #fff;
  left: -8px;
}
#rightRound{
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 13px;
  height: 13px;
  top: -3.5px;
  transition: translate .5s ease-out;
  border-radius: 50%;
  border: 1px solid #bababa;
  background-color: #fff;
  left: 97%;
}
#constLine{
  background-color: #c2c2c2;
  height: 2px;
  position: absolute;
  top: 4px;
  width: 100%;
}
#blueLine{
  transform: translate(0px) scaleX(0.995);
  background-color: #2874f0;
  transform-origin: left center;
  top: 8px;
  height: 6px;
}
.priceDot{
  display: flex;
  margin-top: -14px;
  gap: 34px;
}
#priceSelect{
  display: flex;
  margin-top: 15px;
  padding-bottom: 10px;
  color: #a3a3a3;
  font-size: 14px;
  margin: 7px -4px ;
  align-items: center;
  justify-content: stretch;
}
.minPrice{
  display: inline-block;
  flex-grow: 2;
}
.minPrice select{
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  /* appearance: none; */
  background: #fff;
  height: 24px;
  color: #212121;
  line-height: 1;
  padding: 0 5px;
  outline: none;
}
#to{
  margin: 0 9px;
  font-size: 14px;
  color: #878787;
  line-height: 1;
  flex: 1;
  text-align: center;
}
.maxPrice{
  margin-left: 1.5px;
  flex-grow: 2;
  padding-right: 15px;
}
.maxPrice select{
  width: 100%;
  border-radius: 1px;
  border: 1px solid #e0e0e0;
  background: #fff;
  height: 24px;
  font-size: 14px;
  color: #212121;
  line-height: 1;
  padding: 0 5px;
  outline: none;
}
#brand{
  margin-top: 20px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
}
.checkBrand{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-left: 18px;
  margin-top: 10px;
}
input{
  width: 14px;
  height: 14px;
  border: 1.4px solid #dddddd;
  cursor: pointer;
  vertical-align: middle;
}
label{
  margin-top: 15px;
}
input:active{
  background-color: #2874f0;
}
.itemSelected span{
  font-size: 12px;
  font-weight: 400;
  background-color: rgb(228, 225, 225);
  padding: 10px;
  border-radius: 3px ;
  margin-left: 2px;
  word-break: break-all;
  white-space: normal;
}
.itemSelected span:hover{
  text-decoration: line-through;
  background-color: rgb(214, 213, 213);
}
#type{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
.checkType,.checkProcessor, .checkGen,.checkRam,
.checkSsd,.checkSize,.checkOs, .checkWeight,
.checkTouch,.checkProbrand,.checkUsage,.checkGraphics{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-size: 14px;
  margin-top: 10px;
}

.processHead,.genHead,.ramHead,
.ssdHead,.sizeHead,.osHead, .weightHead,
.touchHead,.proBrandHead,.usageHead,.graphicsHead{
  font-size: 13px;
  font-weight: bold;
  margin-left: 18px;
  /* margin-top: 20px; */
  cursor: pointer;
}
#processor{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#generation{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#ramCap{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#ssd{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#scrnSize{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#os{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#weight{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#touch{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#proBrand{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#usage{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#graphics{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
.assureCheck span{
  margin-left: 112px;
  font-size: 14px;
  color: #646464;
  border: 1px solid #b8b6b6;
  border-radius: 50%;
  /* width: 17px; */
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
}
#assure{
  border-bottom: 1px solid #dddddd;
  padding-bottom: 18px;
}
#right{
  margin-top: 65px;
  margin-left: 402px;
  background-color: white;
  height: auto;
  /* width: 100%; */
  box-shadow: 1px 1px 3px #dddd;
  width: 72.6%;
  padding-top: 17px;
  z-index: 0;
}

#path{
  font-size: 11px;
  letter-spacing: .3px;
  color: #878787;
}
#path span{
  cursor: pointer;
}
#sorting{
  display: flex;
  margin-top: 13px;
  font-size: 13px;
  letter-spacing: .3px;
}
.sortFilt{
  margin-left: 20px;
  cursor: pointer;
}
.rightHeadPart{
  border-bottom: 1px solid #ebeaea;
  padding-bottom: 10px;
  padding-left: 15px;
}
#productPart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
}
#productPart .items{
  display: flex;
  border-bottom: 1px solid #e2e0e0;
  padding-top: 30px;
  padding-left: 20px;
  cursor: pointer;
  padding-bottom: 42px;
}
#productPart .col-one{
  display: flex;
}
#productPart .col-two button{
  color: white;
  background-color: rgb(3, 145, 3);
  height: 20px;
  width: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 12px;
  /* max-width: max-content; */
  min-width: max-content;
  cursor: pointer;
}
#productPart .col-two{
  font-size: 14px;
  margin-top: -18px;
  margin-left: 15px;
  line-height: 15px;
  max-width: 678px;
}
#productPart .col-one img{
  width: 200px;
  margin-top: 15px;
}
#productPart .details p{
  color: #212121;
  font-size: 13px;
}
.price-col{
  display: flex;
}
.price-col div{
  font-size: 14px;
  margin-top: 3px;
}
.price-col img{
  margin-left: 13px;
}
.col-three{
  display: flex;
  flex-direction: column;
  line-height: 25px;
  margin-top: -5px;
  margin-left: 8px;
}

footer{
  background-color: #2874f0;
  /* margin-top: 30px; */
  margin-bottom: 0px;
  
}
footer a{
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-align: start;
}
#foot{
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
  padding-left: 65px;
  padding-right: 160px;
  border-bottom: 1px solid #878787;
  padding-bottom: 40px;

}
.footAbout,.footCompany,.footHelp,.footPolicy{
  display: flex;
  flex-direction: column;
  line-height: 23px;
  align-items: left;
}
#foot h6 {
  color: #878787;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 11px;
}
.footMail, .footAdrs{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 12px;
  line-height: 20px;
}
.footAdrs a{
  color: #001aff;
  font-weight: bold;
}
.footAdrs{
  margin-left: -120px;
}
.footMail{
  border-left: 1px solid #696868;
  padding-left: 25px;
}
#foot div{
  align-items: left;
}

#footLast{
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 139px;
  padding-top: 30px;
  padding-bottom: 27px;
  color: white;
  font-size: 13px;
}


/* #itemDetials{
  display: flex;
  flex-direction: row;
  padding: 16px;
}
.imageBox{
  display: flex;
  border: 1px solid #e6e5e5;
  gap: 20px;
  width: 98%;
  height: 95%;
  padding-bottom: 20px;
}
.imageBox svg{
  color: #a3a2a2;
  margin-bottom: 260px;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 0px 4px 1px #e4e4e4;
  z-index: 0;
}
.itemImage button{
  box-shadow: 1px 1px 5px #bebdbd;
  margin-top: 10px;
}
#detailPath span{
  font-size: 11px;
  color: #878787;
  cursor: pointer;
  margin-left: px;
}
#detailPath{
  display: flex;
}

#detailText{
  margin-left: 20px;
  flex-grow: inherit;
}
.detailTx{
  margin-top: -10px;
  line-height: 22px;
  letter-spacing: .3px;
}
 */




#iDetail{
  display: flex;
  flex-flow: row;
}
#iLeft{
  flex-flow: column;
  position: sticky;
  top: 64px;
  bottom: 0;
  z-index: 2;
  align-self: flex-start;
  width: 41.66%;
}
.iList{
  display: flex;
  width: 100%;
  position: relative;
  align-items: stretch;
}
/* .listImage{
  height: 848px;
  overflow: hidden;
  position: relative;
  margin-right: -5px;
  margin-left: 10px;
}
.listImage ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 40px;
}
.listImage ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  cursor: pointer;
  list-style: none;
}
.listImage li img{
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);;
} */

.listImage{
  height: 478px;
  overflow: hidden;
  position: relative;
  margin-left: -20px;
}
.listImage ul{
    display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 40px;
}
.listImage li{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  cursor: pointer;
  padding-bottom: 8px;
  list-style: none;
  /* transform: translateX(-25%) translateY(-10%);; */
  
}
.listImage li img{
   transform: translateX(0%) translateY(10%);
   width: 70%;
   position: relative;
  top: 10%;
  left: 0%;
  margin-left: -25px;
  margin-right: -30px;
}
.iImage{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #f0f0f0;
  top: 0;
  left: -17px;
  border-radius: 2px;
  width: 120%;
  /* margin-bottom:100%; */
  margin: 16px ;
  margin-bottom: 67%; 
  margin-right: -6.5%;
  height: 442px;
}
.iImage img{
  max-height:752px;
  max-width: 352px;
  cursor: crosshair;
  position: inherit;
  vertical-align: top;
  width: 150%;
}
.iWish{
  margin-top: -90%;
  margin-left: 16px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  padding-left: 7px;
  box-shadow: 0px 0px 7px 0px #bababa;
  padding-top: 6px;
  padding-right: 7px;
  padding-bottom: 4px;
}
.iButton{
  display: flex;
  margin-top: -63%;
  margin-left: 16%;
  cursor: pointer;
  gap: 10px;
}
#toCart{
  background-color: #ff9f00;
  width: 45%;
  border: none;
  color: white;
  padding: 18px 8px;
  font-weight: bold;
}
#buy{
  background-color: #fb641b;
  width: 45%;
  border: none;
  color: white;
  font-weight: bold;
}
#iRight{
  display: flex;
  flex-flow: column;
  width: 66.6%;
  margin-top: 18px;
  margin-left: 40px;
}
.iPath{
  display: flex;
  font-size: 12px;
  cursor: pointer;
}
.ibrandButton{
  display: flex;
  gap: 10px;
}
.ibrandButton button{
  background-color: #388e3c;
  border: none;
  color: white;
  font-weight: bold;
  height: 20px;
  border-radius: 3px;
}
.iPrice{
  display: flex;
  gap: 10px;
  margin-top: -5px;
}
.i{
  color: #afacac;
  border: 1px solid #d6d3d3;
  border-radius: 50%;
  font-size: 12px;
  /* padding-bottom: px;
  padding-top: px;
  padding-left: 3px;
  padding-right: 3px; */
  width: 10px;
  height: 20px;
  padding-left: 7px;
}
.ibrandDetail{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
}
.iOffers{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
  margin-top: -6px;
  line-height: px;
}
.iOffers svg{
  color: #06bd0f;
}
.ibrandDetail a{
  color: #2874f0;
  text-decoration: none;
  font-weight: bold;
}


.iWarranty img{
  width: 20px;
  border: 1px solid #eeeded;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 28px;
  padding-right: 28px;
}
.iWarranty span{
  margin-left: 35px;
}
.iWarranty a{
  margin-left: 10px;
}
.iDelivery{
  display: flex;
  margin-top: 16px;
  cursor: text;
  letter-spacing: .3px;
}
.delivAdrs{
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: -13px;
  letter-spacing: .3px;
}
.delivAdrs input{
  width: auto;
padding-left: 10px;
font-weight: 600;
font-size: 12px;
border: none;
outline: none;
background-color: none;
border-bottom:2px solid #001aff;
cursor: text;
padding-bottom: 7px;

}
.delivAdrs input:active{
  background-color: white;
}
.highlSection ul{
  color: #aaa8a8;
  margin-top: 0px;
  margin-left: 20px;
  line-height: 27px;
}
.highlSection li span{
  color: black;
}
.delivQues{
  border: 1px solid #dddddd;
  color: #a3a2a2;
  font-weight: none;
  margin-left: 10px;
  border-radius: 50%;
  padding-left: 3px;
  padding-right: 3px;
}
.iSeller button{
  color: white;
  background-color: #001aff;
  border: none;
  margin-left: 7px;
  border-radius: 10px;
  width: 49px;
  font-size: 11px;
  padding: 4px;
  font-weight: bold;
  max-width: max-content;
}
.sellerQues{
  color: #878787;
  margin-left: 8px;
  border: 1px solid #d6d3d3;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50%;
}
.iDescription{
  display: flex;
}

#description{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 15px;
  margin-top: 72px;
}
#description div{
  border: 1px solid #f1f1f1;
}
.ips,.smartPro{
  display: flex;
  margin-top: -1px;
  gap: 10px;
}
#description span{
  font-size: 13px;
  max-width: 700px;
}
#description a,#specification a{
  color: #1b70fa;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
#specification{
  margin-top: 24px;
  margin-right: 15px;
}
#specification div{
  border: 1px solid #f1f1f1;
}
.blur{
  color: #a19f9f;
  padding-right: 32px;
}

.comboImage img{
  width: 112px;
  /* margin-right: 36px; */
}
.comboRate button{
  color: white;
  background-color: #388e3c;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  height: 19px;
}
.comboImage input{
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin-top: -12px;
  margin-right: 17px;
}

.old{
  color: #a19f9f;
  font-weight: 500;
  font-size: 13px;
  text-decoration: line-through;
  margin-left: 8px;
}
.percent{
  font-size: 13px;
  color: #388e3c;
  font-weight: 600;
  margin-left: 8px;
}
.origin{
  font-size: 16px;
  font-weight: bold;
}
#combo{
  display: block;
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 15px;
}
.comboItem{
  display: flex;
  margin-top: 29px;
  padding-left: 8px;
}
.comboImage{
  display: flex;
  flex-direction: row-reverse;
}
#comboCol-one {
  padding: 27px;
  padding-bottom: 20px;
}
#comboCol-one a{
  text-decoration: none;
  color: black;
}
.comboPlus{
  font-size: 36px;
  color: #bebebe;
  margin-top: 67px;
  /* padding-left: 30px; */
  /* margin-left: -15px;
  margin-right: 0px; */
}
.rateCount{
  color: #878787;
  font-weight: bold;
  font-size: 13px;
  margin-left: 10px;
}
.comboRate{
  margin-top: 4px;
}
#comboCol-two{
  border: 1px solid #f1f1f1;
  margin-top: -1px;
  padding: 18px;
  padding-left: 44px;
  letter-spacing: .3px;
  padding-right: 0px;
}
#comboCol-two button{
  margin-left: 215px;
  width: 34%;
  cursor: not-allowed;
  background-color: #878787;
  color: white;
  border: none;
  font-weight: bold;
  height: 50px;
}


#ratingReview{
  display: block;
  margin-right: 15px;
  margin-top: 22px;
  
}
#reviewHead span{
  font-size: 24px;
  font-weight: bold;
}
#reviewHead button{
  background-color: white;
  border: none;
  box-shadow: 1px 1px 2px #878787;
  width: 155px;
  height: 45px;
  margin-top: -7px;
  margin-right: -7px;
  font-weight: bold;
}
.rateDiagram{
  width: 100%;
  background-color: #f3f2f2;
  height: 5px;
  border-radius: 100px;
  position: relative;
  /* padding-right: -20px; */
  margin-left: 19px;
  /* margin-right: -20px; */
  margin-top: 6px;
}
.rateDiagram .diagone{
  width: 100%;
  height: 5px;
  border-radius: 100px;
  position: absolute;
  background-color: #388e3c;

}
.rateD{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 11px;
  margin-left: 27px;
  margin-right: 89px;
  line-height: 22px;
  margin-top: -2px;
}
.rateDiagram .diagTwo{
  width: 33%;
  background-color: #388e3c;
  height: 5px;
  border-radius: 100px;
  position: absolute;
}
.rateDiagram .diagThree{
  width: 23%;
  background-color: #388e3c;
  height: 5px;
  border-radius: 100px;
  position: absolute;
}
.rateDiagram .diagFour{
  width: 13%;
  background-color: #ff9f00;
  position: absolute;
  border-radius: 100px;
  height: 5px;
}
.rateDiagram .diagFive{
  width: 39%;
  background-color: red;
  position: absolute;
  border-radius: 100px;
  height: 5px;
}
.reviewHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: #878787;
  margin-left: 6px;
  margin-top: 12px;
  line-height: 20px;
  font-weight: 500;
}
.reviewRate{
  /* border-right: 1px solid #ebebebdd; */
  margin-right:6.5%;
  /* border-right: 1px solid #b8b6b6; */
  margin-top: -1px;
  display: flex;
}

.reviewPerform{
  /* width: 800px; */
  display: flex;
  border-left: 1px solid #d6d3d3;
  padding-left: 1px;
}
.reviewPerform a{
  margin-top: -5px;
  cursor: pointer;
  text-align: center;
  width: 26%;
  text-decoration: none;
  border: none;
  outline: none;
  display: block;
  color: black;
  font-size: 25px;
  /* font-weight: bold; */
}
.rateRound{
  padding: 12px 19px 0px;
}
.rateRound svg{
  /* width: 45%; */
  width: 63px;
  stroke-linecap: round;
  stroke: #388e3c;
}

/* #proImage span{
  background-image: url("https://rukminim1.flixcart.com/blobio/178/178/imr/blobio-imr_1ad2aaf797aa404b8fd74b91f774b93a.jpg?q=90"), url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==");
  width: 120px;
  height: 120px;
  background-size: cover,80%;
  background-repeat: no-repeat;
  color: white;

} */
 #proImage span{
  background-image: url("https://rukminim1.flixcart.com/blobio/178/178/imr/blobio-imr_1ad2aaf797aa404b8fd74b91f774b93a.jpg?q=90"), url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzlEOUQ5RCIgZmlsbC1ydWxlPSJub256ZXJvIj48cGF0aCBkPSJNMjAgMEgyQzEgMCAwIDEgMCAydjE0YzAgMS4xLjkgMiAyIDJoMThjMSAwIDItMSAyLTJWMmMwLTEtMS0yLTItMnptMCAxNS45MmMtLjAyLjAzLS4wNi4wNi0uMDguMDhIMlYyLjA4TDIuMDggMmgxNy44M2MuMDMuMDIuMDYuMDYuMDguMDh2MTMuODRIMjB6Ii8+PHBhdGggZD0iTTEwIDEyLjUxTDcuNSA5LjUgNCAxNGgxNGwtNC41LTZ6Ii8+PC9nPjwvc3ZnPg==");
  width: 89px;
  background-color: #dddd;
  background-size: cover,20%;
  opacity: 1;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
 }
#proImage img{
  width: 89px;
  height: 89px;
}
#proImage{
  display: flex;
  gap: 4px;
  cursor: pointer;
  margin-top: 13px;
  margin-left: -1px;
}

#rateComntOne,#rateComntTwo{
  border: 1px solid #f5f4f4;
  margin-top: -1px;
  padding: 25px;
  font-size: 13px;
  display: block;
}
#rateComntOne img,#rateComntTwo img{
  width: 63px;
  height: 62px;
}
.cusName{
  font-size: 11px;
  color: #bdbcbc;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.cusLike{
  margin-right: 5px;
  cursor: pointer;
}
.comntBtn{
  background-color: #388e3c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  height: 20px;
}
#cmntLink{
  padding: 25px;
  border: 1px solid #f5f3f3;
  margin-top: -1px;
}
#cmntLink a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #2784f0;
  font-weight: 550;
}
#proQuery{
  margin-top: 24px;
  margin-right: 15px;
}
.quesHead{
  border: 1px solid #f1f1f1;
  display: flex;
  padding: 26px;
  justify-content: space-between;
}
.quesHead span{
  font-size: 20px;
  font-weight: bold;
}
.questions{
  border: 1px solid #f1f1f1;
  display: flex;
  padding-left: 26px;
  font-size: 13px;
  margin-top: -1px;
  padding-bottom: 20px;
  padding-top: 21px;
  justify-content: space-between;
}
.questions .cusLike{
  margin-top: 60px;
  margin-right: 28px;
  color: #c2c1c1;
}
#scrollSecure{
  font-size: 12px;
  color: #878787;
  margin-left: 170px;
  font-weight: bold;
  margin-top: 2px;
}
#scrollSecure img{
  width: 25px;
}


#intrstItem{
  margin-top: 20px;
  border-top: 1px solid #f1f0f0;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
  scrollbar-width: 70px;
  padding: 30px;
  margin-right: 15px;
  white-space: nowrap;
  overflow-x: auto;
}
.intrstScroll{
  display: flex;
  flex-direction: row;
  width: 121%;
  padding-bottom: 64px;
  margin-bottom: -64px;
  align-items: stretch;
  transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;;
  margin-top: 33px;
  cursor: pointer;
  margin-left: 11px;
  /* overflow-x: scroll; */
}
.physicalItem{
  display: flex;
  /* padding: 8px; */
  cursor: pointer;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 #e7e7e7;
  width: 28.3%;
  padding-left: 15px;
  margin-bottom: 5px;
}
.physicalItem img{
  width: 108px;
  margin: auto 0;
}
.scrollItemName{
  padding: 24px;
  width: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}
.scrollShopBtn{
  background-color: #2874f0;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  width: 102px;
  margin-top: 16px;
  height: 33px;
}


#similarProduct{
  background-color: white;
  margin-right: auto;
  margin-right: 269px;
  margin-left: 269px;
  margin-top: 20px;
  padding-top: 27px;
  padding-left: 20px;
  letter-spacing: -.1px;
  box-shadow: 0px 2px 4px #c2c1c1;
}
.similarHead{
  font-size: 21px;
  /* font-weight: bold; */
  font-family: "bold";
}
.similarItems{
  display: flex;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100%;
  gap: 26px;
  margin-left: -3px;
  margin-top: 38px;
}
.similarItems img{
  width: 180px;
  align-items: bottom;
  margin-top: 20px;
  height: 140px;
}

.similarImage{
  display: flex;
  flex-direction:row;
  color: #c2c2c2;
}
.similar-itemName{
  font-size: 13px;
  font-family: "regular";
  line-height: 19px;
  max-width: 180px;
  margin-top: 31px;
}
.similarRate{
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: text;
}
.rateBtn{
  color: white;
  background-color: #1b8f21;
  font-size: 11px;
  padding: 4px;
  border-radius: 4px; 
}
.similarPrice{
  margin-top: 6px;
  cursor: text;
  font-size: 13px;
  /* font-weight: 600; */
  font-family:"bold"
}

.suggested{
  margin-top: 20px;
  background-color: white;
  margin-left: 269px;
  margin-right: 269px;
  box-shadow: 0px  2px 4px #b8b6b6;
}
.suggestPic{
  width: 200px;
  display: flex;
  /* flex-direction: row; */
  margin-top:13px;
}
.suggestBought{
  font-size: 21px;
  font-family: "bold";
}
.suggestFilter{
  display: flex;
  font-size: 13px;
  font-family: "regular";
  margin-top: 22px;
  cursor: pointer;
  margin-left: 5px;
}
.suggestHead{
  border-bottom: 1px solid #e9e8e8;
  padding-bottom: 13px;
  padding-left: 21px;
  padding-top: 26px;
}
.suggestItems{
  display: flex;
  overflow-x: scroll;
  gap: 26px;
  margin-left: 20px;
}
.suggestPic img{
  height: 150px;
  width: 180px;
  margin-top: 18px;
}
.sugItemName{
  font-size: 13px;
  font-family: "regular";
  max-width: 180px;
  margin-top: 31px;
}
.sugPrice{
  margin-top: 6px;
  cursor: text;
  font-family: bold;
  font-size: 13px;
}
.sugRate{
  margin-top: 13px;
  font-family: bold;
  font-size: 12px;
  cursor: text;
}

.viewed{
  background-color: white;
  margin-left: 269px;
  margin-right: 269px;
  margin-top: 42px;
  box-shadow: 0px 2px 4px #c2c2c2;
}
.viewHead span{
  font-size: 20px;
  font-family: "bold";
}
.viewHead{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 21px;
  border-bottom: 1px solid #e6e5e5;
  padding-bottom: 9px;

}
.viewHead button{
  background-color: #2874f0;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  width: 99px;
  height: 37px;
  box-shadow: 1px 1px 3px #b8b6b6;
}
.viewed .similarItems{
  max-width: fit-content;
  padding-left: 17px;
  /* padding-right: -28px; */
  /* margin-right: 120px; */
}

#lastPart{
  background-color: white;
  border-top: 1px solid #dddddd;
  padding-top: 54px;
  padding-left: 25px;
  letter-spacing: .2px;
  margin-top: 26px;
  padding-bottom: 30px;
}
.lastHead{
  display: flex;
  font-size: 13px;
  font-family: "bold";
}
.accessHed{
  color: #949393;
  font-size: 13px;
}
.lastListItems{
  margin-top: 18px;
  letter-spacing: .1px;
  font-family: "regular";
  max-width: 1830px;

}
.lastListItems a{
  text-decoration: none;
  color: #5f5e5e;
  font-size: 11px;
  margin-left: 7px;
  letter-spacing: .3px;
}